:root {
  --main-background: #fbfbfb;

  --black: #000;
  --black-40: #00000040;
  --white: #fff;
  --dark-white: #f3f5f6;

  --yellow: #ffb800;
  --blue: #3683f7;
  --gray: #929292;

  --btn-gradient: linear-gradient(0deg, #130999 -0.01%, #174d8f 35.01%, #1a7f87 64.91%, #1c9e83 87.44%, #1daa81 99.99%);
}
