.footer {
	padding: 8px 0 10px;
	background: var(--black);
	@extend %relative;
  z-index: 10;

	&__copyright {
		@include fontStyle(14, 27);
		font-size: clamp(12px, 2vw, 14px);
		color: var(--white);
	}
}
