.arrow-pointer {
  @extend %absolute;
  top: -100%;
  left: -100%;
  width: 160px;
  height: 135px;
  color: var(--white);
  background: var(--blue);
  transition: all 0.4s;

  @include media-down(lg) {
    display: none;
  }

  &::after {
    @extend %absolute;
    content: '';
    left: 50%;
    z-index: -1;
    width: 93px;
    height: 93px;
    background: var(--blue);
    transform: translateX(-50%) rotate(-45deg) skew(12deg, 12deg);
  }

  &.google {
    top: -200px;
    right: 12px;
    left: auto;
    padding-top: 6px;

    &.show {
      top: 106px;
      animation: wave-down 0.8s linear infinite alternate;
    }

    & {
      box-shadow: 0 4px 4px 0 var(--black-40);

      &::after {
        top: -35%;
      }
    }
  }

  &.mozilla {
    top: auto;
    bottom: -200px;
    left: 12px;
    padding-top: 27px;

    &.show {
      bottom: 123px;
      animation: wave-up 0.8s linear infinite alternate;
    }

    & {
      &::after {
        top: 66%;
        box-shadow: -4px 4px 4px 0 var(--black-40);
      }
    }
  }

  &__title {
    @include fontStyle(72, 72, 700);
    font-family: 'Bebas Neue';
    text-align: center;
  }

  &__subtitle {
    @include fontStyle(12, 24);
    text-align: center;
  }
}

@keyframes wave-down {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(10%);
  }
}

@keyframes wave-up {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-10%);
  }
}
