.product-option {
  @extend %relative;
  @include fontStyle(18, 21.09);
  width: 100%;
  max-width: 360px;
  height: min-content;
  padding: 72px 0 25px;
  background: var(--dark-white);

  &__price-wrap {
    @extend %flex-center;
    @extend %absolute;
    top: -49px;
    left: 50%;
    width: 240px;
    height: 100px;
    background: var(--white);
    transform: translateX(-50%);
    box-shadow: 0 0 4px 0 var(--black-40);
  }

  &__best {
    @extend %flex-center;
    @extend %absolute;
    @include fontStyle(12, 14.06, 500);
    top: 0;
    right: 0;
    width: 80px;
    height: 20px;
    background: var(--yellow);
  }

  &__discount {
    @extend %absolute;
    pointer-events: none;
    top: -15px;
    left: -16px;
    user-select: none;
  }

  &__price {
    @include fontStyle(48, 48, 700);
    font-family: 'Bebas Neue';

    &_sub {
      @include fontStyle(18);
      margin-left: -5px;
    }
  }

  &__old-price {
    @extend %absolute;
    @include fontStyle(16, 18.75, 400);
    bottom: 10px;
    left: 50%;
    font-family: Roboto;
    color: var(--gray);
    text-decoration: line-through;
    transform: translateX(-50%);
  }

  &__name {
    text-align: center;
  }

  &__terms {
    font-weight: 700;
    text-align: center;
  }

  &__button {
    @extend %flex-aic;
    @include fontStyle(18, 21.09, 500);
    width: 100%;
    max-width: 190px;
    height: 50px;
    margin: 31px auto 0;
    border-radius: 50px;
    color: var(--white);
    text-transform: uppercase;
    background: var(--btn-gradient);
    box-shadow: 0 4px 4px 0 var(--black-40);

    &-text {
      width: 100%;
      padding-left: 23px;
      text-align: center;
    }

    .icon {
      margin-right: 11px;
    }
  }
}
