.product-choice {
  margin-top: clamp(50px, 10vw, 149px);
  margin-bottom: clamp(100px, 10vw, 305px);

  &__title {
    @include fontStyle(48, 48, 700);
    font-family: 'Bebas Neue';
    font-size: clamp(32px, 5vw, 48px);
    text-align: center;
  }

  &__options {
    @extend %flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 108px;
    gap: 100px 30px;
  }
}
