.product-choice {
  margin-top: clamp(50px, 10vw, 149px);
  margin-bottom: clamp(100px, 10vw, 305px);

  &__title {
    @include fontStyle(48, 48, 700);
    font-family: 'Bebas Neue';
    font-size: clamp(32px, 5vw, 48px);
    text-align: center;
  }

  &__options {
    @extend %grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    margin-top: 108px;
    gap: 100px 30px;

    @include media-down(sm) {
      grid-template-columns: 1fr;
    }
  }
}
